
:root{
  --box-shadow: rgb(230, 235, 239);
  --border-grey: rgb(125, 131, 130);
  --white: rgb(228, 232, 234);
  --white-blur: rgba(228, 232, 234, 0.3);
  --dark-grey:rgb(83, 87, 86);
  --green: rgba(10, 149, 91, 0.9);
  --seed-green: rgb(68, 126, 88);
  --dark-green: #034f2f;
  --font-q:'Questrial', sans-serif;
  --font-martel:'Martel', serif;
}

/*------------ Overall Global styles ---------- */
.App {
  text-align: center;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-family: var(--font-martel);
}

.page-container{
  padding-top: 100px;
}
button{
  color:var(--border-grey);
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 7px 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

button:hover{
  font-weight: bold;
  transform: scale(1.1);
  cursor: pointer;
}

h1 {
  font-size: 40px;
}

h1, h3{
  color: var(--dark-green);
}

ul{
  list-style: none;
}




/*------------ NAVBAR ---------- */
.nav {
  width: 100vw;
  position: fixed;
  margin: 0 auto;
  display: flex;
  justify-content: left;
  align-items:left;
  align-content: center;
  flex-direction: row;
  z-index: 2;
  max-width: 1500px;
  background-color: var(--seed-green);
  backdrop-filter: blur(5px);
}

.nav a{
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 25px 0; 
  margin: 0 25px;
  transition: 0.2s ease-in-out;
  color: var(--white);
}
.nav a:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.nav span{
  margin-left: auto;
  margin-top: 15px;
  padding-right: 20px;
  color: var(--white);
}

.sign-out{
  margin: 7px;
}
/*------------ Home ---------- */
.home img{
  width: 400px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  padding-top: 60px;
}

/* -------- About -------- */
.about-container{
  width: 100vw;
  padding: none;
  margin: 0 auto;
  max-width: 1500px;
  background-image: url("./PlantImages/plantPic7.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;

}
.about{
  padding: 100px 50px;
  margin: 0 auto;
  width: 60vw;
  max-width: 900px;
  color: var(--white);
	backdrop-filter: blur(15px);
  }

  .about h1, .about h2, .about h3{
    color: var(--white)
  }

.about li{
  list-style: none;
}

  .about-information img{
    height:200px;
    width:200ox;
    object-fit: cover;
    border-radius: 5px;
    margin: 10px auto;
  }

  .about-photos{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .about-information{
    display: grid;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
    width: 400px;
  }

  .about-information a{
    text-decoration: none;
    color:rgb(205, 174, 215);
  }
  .about-information a:hover{
    font-weight: bold;
    transform: scale(1.1);
    cursor: pointer;
  }

  .about-information p{
    font-size: 14px;
    height: 25px;
  }

/*------------Signup pages ---------- */
.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.login-container button{
  margin-top: 20px;
  color: white;
  background-image: linear-gradient(to right,  var(--dark-green) 0%, #448061 51%, #4c9a6c 100%);
}

.login-page, .signup-page{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50vw;
  max-width: 500px;
}

#login-img{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-top: 30px;
}

.login-form, .signup-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.login-form button, .signup-form button{
 margin-top: 20px;
 color: white;
}

.login-form label, .signup-form label{
  font-family: var(--abril-font);
  font-size: 20px;
  color: var(--main-plum);
  font-weight: bold;
}

.login-form input, .signup-form input{
  padding: 5px;
  border: 2px solid;
  border-radius: 5px;
  margin: 10px 0;
  border: 2px solid var(--dark-green);
  width: 150px;
}

.login-form p, .signup-form p{
 margin-top: 0;
}

.loginBlur{
  backdrop-filter: blur(15px);
  background-color: var(--white-blur);
  /* border: 1px solid white; */
  border-radius: 10px;
  margin: 120px auto;
  width: 50vw;
  max-width: 500px;
  padding-bottom: 20px;
  font-family: var(--font-martel);
  color: var(--dark-green)
}

/*------------ Plant-Form ---------- */
.plant-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.plant-form input{
  padding: 5px;
  border: 2px solid;
  border-radius: 5px;
  margin: 10px 5px;
  border: 2px solid var(--dark-green);
}

.plant-form button {
  margin-top: 20px;
}
.plant-form select {
  margin: 10px 5px;
  border: 2px solid var(--dark-green);
  border-radius: 5px;
  font-family: var(--font-martel);
  font-size: 10px;
}


/*------------ MyPlants/GlobalPlants,Reviews General Card Stylling ---------- */

.plant-card {
position: relative;
margin: 60px;
width: 50vw;
margin: 0 auto;
padding: 60px 0;
border-bottom: 3px solid var(--dark-green);
backdrop-filter: blur(10px);
}

.plant-card img {
  width: 400px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid var(--border-grey);
}

/* -----delete/edit btns for myPlants and MyReviews--------- */

.delete-btn{
  position:absolute;
  top: 30px;
  right: 10px;
  font-size: 18px;
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
  padding: 3px;
  color: var(--dark-green);
  border: solid 1px var(--dark-green);
}
.edit-btn{
  position:absolute;
  top: 30px;
  right: 35px;
  font-size: 18px;
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
  color: var(--dark-green);
  padding: 3px;
  border: solid 1px var(--dark-green);
}

/* -----My Plants --------- */
.my-plants-page, .global-page{
  height: 100vh;
  width: 100vw;
  padding: none;
  margin: none;
  max-width: 1500px;
  max-height: 1200px;  
  background-image: url("./PlantImages/plantPic5.jpg");
  background-position: top 20% left 0%;
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
}



/* -----Global Plants --------- */

.global-page{
  background-image: url("./PlantImages/plantPic6.jpg");
  background-position: top 50% right 0%;
  background-repeat: no-repeat; 
  background-size: center;
  background-attachment: fixed;
  overflow-y: scroll;
}

.globalUsername{
  position:absolute;
  top: 10px;
  left: 0px;
  font-size: 20px;
  background-color: transparent;
  padding: 0;
}

.globalPlant-card span{
  color: var(--dark-green);
  font-weight: bold;
}

.review-list{
  width: 40vw;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  overflow-y: scroll;
  height: 150px;
  max-height: 250px;
  text-align: left;
  border: 1px solid var(--border-grey);
  border-radius: 5px;
  box-shadow: 5px 10px 10px var(--box-shadow);
}

.review-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-input{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.review-input textarea{
  height: 50px;
  width: 30vw;
  max-width: 400px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  font-family: var(--font-martel);
}

.submit-btn {
  background-image: linear-gradient(to right,  var(--dark-green) 0%, #34634b 51%, #4c9a6c 100%);
  color: var(--white);
  margin: 10px
}

/* ------------Edit Page------------ */

.edit-page{
  padding-top: 200px;
}

.edit-form-title{
  margin-top: 0px;
  color: var(--dark-green)
}

/* ------------Movie Class------------ */
#background-video{
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  
}

/* -----Hidden class --------- */
.hidden {
  visibility: hidden;
}

