
:root{
  --box-shadow: rgb(230, 235, 239);
  --border-grey: rgb(156, 146, 146)
}
.App {
  text-align: center;
}

.page-container{
  padding-top: 100px;
}


/*------------ NAVBAR ---------- */
.nav {
  width: 100vw;
  display: flex;
  justify-content: left;
  align-items:left;
  align-content: center;
  flex-direction: row;
  position: fixed;
  z-index: 2;
  max-width: 1500px;
  backdrop-filter: blur(5px);
}

.nav a{
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 25px 0; 
  margin: 0 25px;
  transition: 0.2s ease-in-out;
  color:rgb(52, 49, 49);
}
.nav a:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.nav span{
  margin-left: auto;
  margin-top: 15px;
  padding-right: 20px;
}

.sign-out{
  margin: 5px;
}

/* -------- About -------- */
.about{
  padding-top: 100px;
  margin: 0 100px;
  }

.about li{
  list-style: none;
}
  
  .about-information img{
    height:200px;
    width:200ox;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .about-photos{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .about-information a{
    text-decoration: none;
    color:rgb(80, 73, 73)
  }
  
  .about-information{
    display: grid;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
  }

/*------------ Login/Signup pages ---------- */
.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.login-page, .signup-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.login-form, .signup-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.login-form button, .signup-form button{
 margin-top: 20px;
}

.login-form label, .signup-form label{
  font-family: var(--abril-font);
  font-size: 20px;
  color: var(--main-plum);
}

.login-form input, .signup-form input{
  padding: 5px;
  border: 2px solid;
  border-radius: 5px;
}


/*------------ Plant-Form ---------- */
.plant-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.plant-form input{
  padding: 5px;
  border: 2px solid;
  border-radius: 5px;
  margin: 10px 5px;
}

.plant-form button {
  margin-top: 20px;
}
.plant-form select {
  margin: 10px 5px;
}


/*------------ MyPlants/GlobalPlants,Reviews General Card Stylling ---------- */

.plant-card {
position: relative;
margin: 60px;
width: 60vw;
margin: 0 auto;
padding: 60px 0;
border-bottom: 3px solid var(--border-grey);
}

.plant-card img {
  width: 400px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid var(--border-grey);
  box-shadow: 5px 10px 10px var(--box-shadow);
}

/* -----delete/edit btns for myPlants and MyReviews--------- */

.delete-btn{
  position:absolute;
  top: 30px;
  right: 0;
  font-size: 20px;
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
}
.edit-btn{
  position:absolute;
  top: 30px;
  right: 35px;
  font-size: 20px;
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
}


/* -----Global Plants --------- */
.globalUsername{
  position:absolute;
  top: 10px;
  left: 0px;
  font-size: 20px;
  background-color: transparent;
  padding: 0;
}

.review-list{
  width: 30vw;
  margin: 0 auto;
  overflow-y: scroll;
  height: 50px;
  border: 1px solid var(--border-grey);
  border-radius: 5px;
  box-shadow: 5px 10px 10px var(--box-shadow);
}

/* -----Hidden class --------- */
.hidden {
  visibility: hidden;
}
